.search {
  border-radius: 5px;
  color: white;
}

.search > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  color: white;
}

pre {
  text-align: left;
}

.search > div {
  margin-top: 15px;
}

.eYJPSJ {
  color: white;
}
