html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #141414;
  margin: 0;
}
* {
  box-sizing: border-box;
}

details,
header,
section {
  display: block;
  color: white;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.app > h1 {
  color: white;
}
